body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  color: #000000;
}

.inner-page {
  font-family: "PTSans", sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
    /* временно для сетки */
  outline: purple solid 2px;
}


.page-title {
  margin: 0;
  padding: 30px;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
}

.product-text h2,
.manufacturer-text h2,
.delivery h2,
.about-us-text h2,
.about-us-contact h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.header-top-logo {
  display: block;
  width: 220px;
  padding: 12px;
  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}

.inner-page a{
  color: #000000;
}

.header {
  background-color: #f3f7f8;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
  margin-bottom: 45px;
}

.search input {
  box-sizing: border-box;
  width: 270px;
  padding-top: 14px;
  padding-bottom: 14px;
  font: inherit;
  background: transparent;
  border: none;
  outline: none;
}



.search input::placeholder {
  color: #ffffff;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  background-color: #ffffff;
}

.header-top p {
  margin: 0;
}

.bookmarks a,
.basket a,
.checkout a {
  display: block;
  width: 150px;
  padding: 14px 0;
}

.bookmarks a:hover,
.basket a:hover {
  background-color: #212a3a;
}

.bookmarks a:active,
.basket a:active {
  opacity: 60%;
  background-color: #161d29;
}

.checkout a {
  background-color: #63a63e;
}

.checkout a:hover {
  background-color: #5fbb2d;
}

.checkout a:active {
  opacity: 50%;
  background-color: #518534;
}

.header-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  width: 200px;
  margin: 0;
  padding-left: 50px;
}

.header-contact {
  width: 270px;
}

.header-phone {
  display: block;
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  width: 234px;
  height: 21px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 30px;
}

.header-phone::before {
  content: "";
  position: absolute;
  left: 12px;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.user-navigation,
.site-navigation,
.product-list,
.manufacturer-list,
.pagination-list,
.option-list,
.value-list {
  list-style: none;
}

.user-navigation {
  margin: 0;
  padding: 0;
}


.user-navigation a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 12px;
  margin-left: 10px;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  opacity: 30%;
}

.user-navigation:hover path {
  fill: #32425c;
}

.site-navigation {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.site-navigation a {
  display: block;
  padding: 22px 30px;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  opacity: 50%;
  background-color: #293449;
}

.offer-list-slider,
.offer-list {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.offer-list-slider p,
.offer-list p {
  margin-bottom: 15px;

}


.offer-item {
  width: 277px;
  min-height: 123px;
  padding-left: 23px;
}

.offer-material {
  background-color: #f6b22d;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px center;
}

.offer-tool {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px center;
}

.offer-eguipment {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 190px center;
}

.offer-discount {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px center;

}

.offer-delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 190px center;

}

.offer-slider {
  width: 620px;
  height: 266px;
}

.slider-drill {
  background-image: url(../img/slider_2.jpg);
}

.offer-list-slider a,
.offer-list a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  width: 107px;
  padding: 10px;
  border-radius: 3px;

}
.offer-list-slider a:hover,
.offer-list a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offer-list-slider a:active,
.offer-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.product-text h2,
.manufacturer-text h2 {
  margin: 0;
  line-height: 89px;
}

.product-text,
.manufacturer-text {
  color: #32425c;
  background-color: #f9f5f0;
}

.product-text a,
.manufacturer-text a {
  display: block;
  width: 253px;
  padding: 10px 0;
  border-radius: 3px;
}

.offer-slider a,
.product-text a,
.manufacturer-text a,
.about-us a,
.credit a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.offer-slider a:hover {
  background-color: #ca2c37;
}

.offer-slider a:active {
  background-color: #ba2732;
}

.product-list {
  font-family: "PTSans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-left: 0px;
  /* временно для сетки */
  outline: blue solid 2px;
}
.product-item {
  display: block;
  position: relative;
  width: 218px;
  margin-bottom: 20px;
  /* временно для сетки */
  height: 318px;
}

.product-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.product-item .flag-new {
  background-image: url("../img/new-\ flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-item .image {
  width: 218px;
  height: 170px;
  margin-bottom: 12px;
}

.product-list a {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
}

.old-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.price {
  position: relative;
  width: 80px;
  padding: 11px 30px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

.product-buy {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  padding: 40px 0;
  z-index: 10;

}

.product-list li,
.manufacturer-list li {
  border: 1px solid #eaeaea;
}
.product-buy a {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #63a63e;
  border-radius: 3px;
  box-shadow: 0 3px #367315;
}

.buy-link {
  position: relative;
}

.buy-link::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 14px;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}


.product-buy button {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 135px;
  padding: 7px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
}


.service {
  background-color: #f4f8fa;
}

.service-text {
  padding-top: 40px;
  margin-bottom: 50px;
  width: 430px;
}

.service h2 {
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 27px;
}


.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 80px;
}

.service-list button {
  border: none;
  width: 240px;
  padding: 21px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  text-align: left;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.service-list button:hover {
  background-color: #293449;
}

/* .service-list li.active {
  color: #32425c;
  background-color: #ffffff;
} */

.service p,
.about-us p {
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-slider {
  width: 630px;

}

.delivery {
  padding-right: 325px;
  padding-bottom: 130px;
  background-repeat: no-repeat;
  background-size: 468px 261px;
  background-position: right bottom;

  background-image: url("../img/delivery.png");
}

.guarant,
.credit {
  /* временно */
  display: none;
}

.about-us-text{
  width: 520px;
}

.about-us-contact {
  width: 300px;
}

.map-container {
  display: flex;
  flex-wrap: wrap;
}

.service-slider h2{
  color: #32425c;
}

.delivery-company {
  font-size: 18px;
  line-height: 20px;
}

.credit a {
  background-color: #ff5357;
}

.main-footer {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}

.footer-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-offer {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-item,
.footer-offer-item {
  margin-left: 60px;
}

.footer-offer a,
.footer-mail a,
.footer-copyright a {
  color: #ffd180;
}

.footer-menu a:hover,
.footer-offer a:hover,
.footer-mail a:hover,
.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-menu a:active,
.footer-offer a:active {
  opacity: 50%;
}

.footer-mail a:active,
.footer-copyright a:active{
  color: #ee3643;
}


.footer-bottom {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.footer-text {
  width: 220px;
}

.footer-social {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

.footer-social a {
  display: block;
  margin-right: 5px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

.social-vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.social-insta {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-mail {
  width: 140px;
}

.footer-contact p,
.footer-mail p,
.footer-copyright p {
  margin: 0;
}

.modal-feedback {
  font-size: 18px;
  line-height: 18px;
  border-top: 7px solid #ff5357;
}

.form-feedback input[type="text"],
.form-feedback input[type="email"],
.form-feedback textarea {
  font-family: "PTSans", sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  border: 2px solid #dee3e4;
}

.form-feedback button[type="submit"] {
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.user-name {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}

.user-item li:first-child {
  list-style: none;
}

.user-item a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-item a:hover {
  color: #ee3643;
}

.user-item a:active {
  color: #32425c;
  opacity: 30%;
}


.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 24px 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  right: -26px;
  width: 8px;
  height: 14px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current li::after {
  display: none;
}

.filters h2,
.sorting h2 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  border: none;
}

.filter legend {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  line-height: 17px;
}

.filter-option {
  margin-bottom: 27px;
  padding-left: 34px;
}

.filter-option label {
  position: relative;
  display: block;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -34px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -34px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}




.filter-slider {
  position: relative;
  width: 220px;
  height: 80px;
  margin-bottom: 10px;
  background-color: #f7f3ec;
}

.filter-line {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.filter-line-green {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 120px;
  background-color: #00ca74;
}

.filter-slider-left {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.filter-slider-right {
  position: absolute;
  top: 30px;
  left: 160px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}


.range {
  display: flex;
  justify-content: space-between;
}

.range input{
  max-width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: none;
  background-color: #f7f3ec;
}

.range span {
  display: block;
  margin: auto 10px;
}

.sorting {
  background-color: #f7f3ec;
}

.sorting a {
  opacity: 30%;
  padding-top: 10px;
}

.option-list a {
  border-bottom: 1px dotted #ee3643;
}

.option-list a:hover {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}

.pagination-list a {
  border: 1px solid #e5e5e5;
}

.pagination-list a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-list a:active {
  border: 1px solid #ee3643;
}

.pagination-list a:focus {
  color: #ffffff;
  background-color: #ee3643;
}

.perforator-description {
  background-color: #f2f6f8;
}

.perforator-description h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.perforator-description p {
  line-height: 24px;
  text-transform: none;
}

.modal-buy {
  border-top: 7px solid #ee3643;
}

.modal-buy h3 {
  font-size: 30px;
  line-height: 30px;
}

.modal-buy ul {
  list-style: none;
  background-color: #f1f1f1;
}

.modal-buy a {
  background-color: #ee3643;
}


.header-bottom-wrapper {
  margin-bottom: 60px;
  padding-bottom: 60px;
    /* временно для сетки */
  outline: purple solid 2px;
}

.header-bottom-wrapper-inner {
  margin-bottom: 0;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 45px;
    /* временно для сетки */
  outline: blue solid 2px;
}

.user-navigation {
  display: flex;
  width: 300px;
  justify-content: flex-end;
}


.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 0px;
    /* временно для сетки */
  min-height: 60px;
  outline: blue solid 2px;
}

.main-wrapper {
  margin-bottom: 65px;
  /* временно для сетки */
  outline: red solid 2px;
}

.offer {
  display: flex;
  margin-bottom: 53px;
  /* временно для сетки */
  outline: blue solid 2px;
}

.offer-list-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
  /* временно для сетки */
  outline: pink solid 2px;
}

.offer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
  padding-left: 0px;
  /* временно для сетки */
  outline: pink solid 2px;
}

.product-text,
.manufacturer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 27px;
  padding-right: 24px;
}



.manufacturer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  /* временно для сетки */
  outline: blue solid 2px;
}

.manufacturer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}

.service-slider-wrapper {
  display: flex;
  justify-content: flex-start;
  /* временно для сетки */
  outline: blue solid 2px;
}

.about-us-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
  /* временно для сетки */
  outline: purple solid 2px;
}
.main-footer .container {
  padding-bottom: 50px;
  /* временно для сетки */
  outline: purple solid 2px;
}
.main-footer-wrapper,
.footer-contact-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  /* временно для сетки */
  outline: white solid 2px;
}

.footer-offer {
  /* временно для сетки */
  width: 550px;
  outline: red solid 2px;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* временно для сетки */
  outline: purple solid 2px;
}

.main-top {
  display: flex;
  flex-direction: column-reverse;

  /* временно для сетки */
  outline: purple solid 2px;
}

.filters {
  width: 220px;
  /* временно для сетки */
  outline: purple solid 2px;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-wapper {
  width: 700px;
  /* временно для сетки */
  outline: purple solid 2px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* временно для сетки */
  outline: blue solid 2px;
}

.option-list {
  display: flex;
  width: 355px;
  margin: 0;
  padding: 0;
}

.value-list {
  display: flex;
  width: 43px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  /* временно для сетки */
  outline: blue solid 2px;
}

