body
{
    font-family: 'Cuprum', Arial, sans-serif;

    margin: 0;
    padding: 0;

    color: #000;
}

.inner-page
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;

    color: #000;
}

img
{
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

.container
{
    width: 940px;
    margin: 0 auto;
}

.header
{
    background-color: #f3f7f8;
}

.header-top-wrapper
{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.header-bottom-wrapper
{
    margin-bottom: 59px;
    padding-bottom: 60px;
}

.header-bottom-wrapper-inner
{
    margin-bottom: 0;
}

.header-top
{
    font-size: 17px;
    line-height: 18px;

    margin-bottom: 47px;

    background-color: #293449;
}

.page-title
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;

    margin: 0;
    padding: 29px 28px;

    color: #32425c;
    background-color: #f2f6f8;
}

.popular-title h2,
.delivery h2,
.about-us-text h2,
.about-us-contact h2
{
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;

    text-transform: uppercase;
}

a
{
    text-align: center;
    text-decoration: none;

    color: #fff;
}

.header-top-logo
{
    display: block;

    width: 220px;
    padding-top: 13px;
    padding-bottom: 7px;

    background-color: #ee3643;
    box-shadow: 0 5px #b52933;
}

.header-bottom-logo
{
    line-height: 0;

    display: block;

    width: 220px;
    height: 22px;
    padding: 21px 0;

    background-color: #ee3643;
    box-shadow: 0 5px #b52933;
}

.header-logo:hover,
.header-logo:focus
{
    background-color: #ca2c37;
    box-shadow: 0 5px #9a212a;
}

.header-logo:active
{
    background-color: #ba2732;
    box-shadow: 0 5px #8e1e26;
}

.inner-page a
{
    color: #000;
}

.search
{
    position: relative;
}

.search svg
{
    position: absolute;
    top: 12px;
    left: 17px;

    opacity: .3;

    fill: #fff;
}

.search input
{
    font: inherit;

    box-sizing: border-box;
    width: 270px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 49px;

    border: none;
    outline: none;
    background: transparent;
}

.search input::-webkit-input-placeholder
{
  color: #fff;
}

.search input::-moz-placeholder
{
  color: #fff;
  opacity: 1;
}

.search input:-ms-input-placeholder
{
  color: #fff;
}

.search input::placeholder
{
    color: #fff;
}

.search input:hover
{
    background-color: #212a3a;
}

.search input:hover + .icon-search
{
    opacity: 1;
}

.search input:focus
{
    background-color: #fff;
}

.search input:focus + .icon-search
{
    opacity: 1;

    fill: #ee3643;
}

.header-top p
{
    margin: 0;
}

.header-link
{
    position: relative;

    display: block;

    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.bookmarks,
.basket
{
    width: 132px;
    padding-left: 18px;
}

.basket-inner
{
    width: 127px;
    padding-left: 23px;

    background-color: #ee3643;
}

.bookmarks::before,
.basket::before
{
    position: absolute;
    top: 12px;
    left: 17px;

    width: 16px;
    height: 18px;

    content: '';

    opacity: .3;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.bookmarks::before
{
    background-image: url('../img/icon-bookmark.svg');
}

.basket::before
{
    background-image: url('../img/icon-cart.svg');
}

.bookmarks:hover,
.bookmarks:focus,
.basket:hover,
.basket:focus
{
    background-color: #212a3a;
}

.bookmarks:active,
.basket:active
{
    opacity: .5;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.basket:hover::before,
.basket:focus::before
{
    opacity: 1;
}
.checkout
{
    background-color: #63a63e;
}

.checkout:hover,
.checkout:focus
{
    background-color: #5fbb2d;
}

.checkout:active
{
    opacity: 50%;
}

.header-info
{
    display: flex;

    margin-bottom: 40px;

    align-items: flex-start;
}

.header-text
{
    font-size: 16px;
    font-style: italic;
    line-height: 23px;

    width: 200px;
    margin: 0;
    margin-right: 68px;
    padding-top: 2px;
    padding-left: 52px;

    color: #ee3643;
}

.header-contact
{
    width: 270px;
    margin-top: -1px;
}

.header-phone
{
    font-size: 21px;
    line-height: 21px;

    position: relative;

    display: block;

    width: 242px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 22px;

    color: #ee3643;
    border: 3px solid #fff;
}

.header-phone::before
{
    position: absolute;
    left: 12px;

    width: 22px;
    height: 22px;

    content: '';

    background-image: url('../img/icon-phone.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-address
{
    font-size: 14px;

    margin: 0;
    margin-top: 8px;

    text-align: center;

    color: #32425c;
}

.user
{
    margin-left: auto;
}

.user-navigation,
.site-navigation,
.product-list,
.manufacturer-list,
.pagination-list,
.option-list,
.value-list
{
    list-style: none;
}

.user-navigation
{
    display: flex;

    width: 300px;
    margin: 0;
    margin-left: auto;
    padding: 0;

    justify-content: flex-end;
}

.user-navigation li
{
    position: relative;

    margin: 0;
    margin-left: 10px;
    padding: 0;

    text-align: center;
}

.user-registration a
{
    width: 150px;
}

.user-navigation a
{
    font-size: 21px;
    line-height: 21px;

    display: block;

    padding-top: 11px;
    padding-bottom: 11px;

    color: #000;
    background-color: #fff;
}

.user-entrance a
{
    width: 99px;
    padding-left: 23px;
}

.user-entrance svg
{
    position: absolute;
    top: 13px;
    left: 15px;
}

.user-menu
{
    position: relative;

    display: flex;

    margin: 0;
    margin-bottom: 6px;
}

.user-menu a
{
    font-size: 21px;

    display: block;

    padding-top: 9px;
    padding-bottom: 12px;

    color: #000;
    background-color: #fff;
}

.user-name
{
    max-width: 186px;
    padding-right: 36px;
    padding-left: 47px;
}

.user-name svg
{
    position: absolute;
    top: 12px;
    left: 13px;
}

.user-exit
{
    width: 31px;
}

.user-exit svg
{
    position: absolute;
    top: 14px;
    right: 10px;
}

.user-navigation a:hover,
.user-navigation a:focus
{
    color: #ee3643;
}

.user-menu a:active,
.user-navigation a:active
{
    color: rgba(0, 0, 0, .3);
}

.user-menu a:hover path,
.user-menu a:focus path,
.user-entrance:hover path,
.user-entrance:focus path
{
    fill: #32425c;
}

.user-menu a:active path,
.user-entrance:active path
{
    fill: rgba(0, 0, 0, .3);
}

.user-list
{
    display: flex;

    margin: 0;
    padding: 0;
}

.user-list li
{
    margin: 0 18px;
}

.user-list li:first-child
{
    margin-right: 13px;

    list-style: none;
}

.user-list a
{
    font-size: 16px;
    line-height: 18px;

    text-decoration: underline;

    color: #32425c;
}

.user-list a:hover,
.user-list a:focus
{
    color: #ee3643;
}

.user-list a:active
{
    opacity: 30%;
    color: #32425c;
}

.site-navigation
{
    font-size: 17px;
    line-height: 17px;

    display: flex;

    margin: 0;
    padding-right: 24px;
    padding-left: 22px;

    list-style: none;

    border-bottom: 5px solid #293449;
    background-color: #32425c;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.site-navigation li
{
    display: block;

    margin: 0;
    padding: 0;
}

.site-navigation a
{
    display: block;

    padding: 20px 30px 18px 30px;
}

.site-navigation a:hover,
.site-navigation a:focus
{
    background-color: #293449;
}

.site-navigation a:active
{
    opacity: 50%;
    background-color: #293449;
}

.offer-list-slider,
.offer-list
{
    font-size: 24px;
    font-weight: 700;

    margin: 0;
    margin: 0;
    padding: 0;

    color: #fff;
}

.offer-list-slider p,
.offer-list p
{
    margin: 0;
    margin-top: 22px;
    margin-bottom: 15px;
}

.offer-item
{
    position: relative;

    display: block;

    width: 277px;
    min-height: 123px;
    margin-bottom: 20px;
    padding-left: 23px;
}

.offer-material
{
    background-color: #ffbf47;
    background-image: url('../img/icon-1.svg');
    background-repeat: no-repeat;
    background-position: 213px center;
}

.offer-tool
{
    background-color: #3bbce3;
    background-image: url('../img/icon-2.svg');
    background-repeat: no-repeat;
    background-position: 197px center;
}

.offer-eguipment
{
    background-color: #dc91d8;
    background-image: url('../img/icon-3.svg');
    background-repeat: no-repeat;
    background-position: 190px center;
}

.offer-discount
{
    background-color: #8ed78f;
    background-image: url('../img/icon-4.svg');
    background-repeat: no-repeat;
    background-position: 196px center;
}

.offer-delivery
{
    background-color: #ffc047;
    background-image: url('../img/icon-5.svg');
    background-repeat: no-repeat;
    background-position: 190px center;
}

.offer-list-slider a,
.offer-list a
{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    display: block;

    width: 107px;
    padding: 10px 15px;

    text-transform: uppercase;

    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
}

.offer-list-slider a:hover,
.offer-list-slider a:focus,
.offer-list a:hover,
.offer-list a:focus
{
    background-color: rgba(0, 0, 0, .2);
}

.offer-list-slider a:active,
.offer-list a:active
{
    background-color: rgba(0, 0, 0, .3);
}

.slider-container
{
    position: relative;

    width: 620px;
    min-height: 266px;

    background-color: #32201c;
}

.arrows
{
    font-size: 0;

    position: absolute;
    z-index: 1;
    top: 50%;

    width: 24px;
    height: 44px;
    margin-top: -22px;
}

.arrows-back
{
    left: 24px;
}

.arrows-next
{
    right: 19px;
}

.slider-arrows-back::before,
.slider-arrows-next::before,
.slider-arrows-back::after,
.slider-arrows-next::after
{
    position: absolute;
    left: 11px;

    width: 3px;
    height: 28px;

    content: '';

    background-color: #fff;
}

.slider-arrows-back::before
{
    top: 0;

    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.slider-arrows-back::after
{
    top: 18px;

    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.slider-arrows-next::before
{
    top: 0;

    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.slider-arrows-next::after
{
    top: 18px;

    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}


.slider
{
    position: relative;

    padding-top: 20px;
    padding-bottom: 22px;
    padding-left: 24px;

    color: #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slide-hammer
{
    background-image: url('../img/slider_1.jpg');
}

.slide-drill
{
    background-image: url('../img/slider_2.jpg');
}

.slider .title
{
    font-size: 36px;
    font-weight: 700;

    margin: 0;

    text-transform: uppercase;
}

.slider p
{
    font-size: 18px;

    margin: 0;
    margin-top: 2px;
    margin-bottom: 124px;
}

.link-red
{
    font-size: 14px;
    line-height: 18px;

    display: block;

    padding: 10px 0;

    text-transform: uppercase;

    border-radius: 3px;
    background-color: #ee3643;
}

.link-red:hover,
.link-red:focus
{
    background-color: #ca2c37;
}

.link-red:active
{
    background-color: #ba2732;
}

.slider a
{
    width: 195px;
}

.slider-controls label
{
    display: inline-block;

    width: 6px;
    height: 6px;
    margin-right: 10px;

    cursor: pointer;
    vertical-align: middle;

    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
}

.slider-controls
{
    font-size: 0;

    position: absolute;
    z-index: 1;
    top: 220px;
    left: 295px;
}

.slide-hammer,
.slide-drill
{
    display: none;
}

#slide-hammer:checked ~ .slider-wrapper #hammer,
#slide-drill:checked ~ .slider-wrapper #drill
{
    display: block;
}

#slide-hammer:checked ~ .slider-wrapper label[for='slide-hammer'],
#slide-drill:checked ~ .slider-wrapper label[for='slide-drill']
{
    background-color: #ee3643;
}

.popular-title h2
{
    line-height: 89px;

    margin: 0;
}

.popular-title
{
    display: flex;

    margin-bottom: 20px;
    padding-right: 24px;
    padding-left: 28px;

    color: #32425c;
    background-color: #f9f5f0;

    justify-content: space-between;
    align-items: center;
}

.popular-title a
{
    width: 253px;
}

.product-list
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;

    display: flex;

    margin: 0;
    margin-bottom: 1px;
    padding-left: 0;

    text-align: center;
    text-transform: uppercase;

    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item
{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 218px;
    margin-bottom: 20px;

    cursor: pointer;
}

.product-price
{
    margin-top: auto;
}

.offer-item .flag,
.product-item .flag
{
    position: absolute;
    z-index: 2;
    top: -1px;
    right: -1px;

    overflow: hidden;

    width: 60px;
    height: 60px;

    text-indent: -1000px;

    background-image: url('../img/new-flag.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offer-item .flag
{
    top: 0;
    right: 0;
}

.product-item .image
{
    width: 218px;
    height: 168px;
    margin-bottom: 11px;
}

.product-list a
{
    font-size: 18px;
    line-height: 20px;

    display: block;

    margin: 0 21px;

    text-transform: none;

    color: #000;
}

.old-price
{
    margin-top: 12px;
    margin-bottom: 9px;

    text-decoration: line-through;

    color: #a9a9a9;
}

.old-price-non
{
    visibility: hidden;
}

.price
{
    position: relative;

    width: 81px;
    margin: 0 auto 20px 41px;
    padding: 10px 29px;

    color: #fff;
    border-radius: 3px;
    background-color: #ee3643;
}

.price::after
{
    position: absolute;
    top: 0;
    right: -20px;

    width: 0;
    height: 0;

    content: '';

    border: 19px solid #fff;
    border-left-color: #ee3643;
}

.product-buy
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 218px;
    padding: 45px 0;
}

.product-list li
{
    border: 1px solid #eaeaea;
}

.product-buy a
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;

    display: block;

    width: 135px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    background-color: #63a63e;
    box-shadow: 0 3px #367315;
}

.buy-link
{
    position: relative;
}

.buy-link::before
{
    position: absolute;
    top: 11px;
    left: 14px;

    width: 22px;
    height: 22px;

    content: '';

    opacity: .3;
    background-image: url('../img/icon-cart.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.product-buy a:hover,
.product-buy a:focus
{
    background-color: #5fbb2d;
}

.product-buy a:hover::before,
.product-buy a:focus::before
{
    opacity: 1;
}

.product-buy a:active
{
    background-color: #367315;
}

.product-buy button
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;

    width: 135px;
    padding: 7px;

    cursor: pointer;
    text-transform: uppercase;

    color: #32425c;
    border: 3px solid #63a63e;
    border-radius: 3px;
    background-color: #fff;
}

.product-buy button:hover,
.product-buy button:focus
{
    border-color: #32425c;
}

.product-buy button:active
{
    opacity: .3;
}

.product-item .product-buy
{
    display: none;
}

.product-item:hover .product-buy,
.product-item:focus .product-buy
{
    display: block;

    background-color: #fff;
}

.product-item:hover,
.product-item:focus
{
    border-color: transparent;
    box-shadow: 0 10px 30px -10px #000;
}

.service
{
    margin-bottom: 78px;

    background-color: #f4f8fa;
}

.service-text
{
    width: 405px;
    margin-bottom: 69px;
    padding-top: 62px;
}

.service h2
{
    font-size: 30px;
    font-weight: 400;

    margin: 0;
    margin-bottom: 24px;

    text-transform: uppercase;
}

.service-list
{
    position: relative;

    margin: 0;
    margin-right: 80px;
    margin-bottom: 98px;
    padding: 0;

    list-style: none;
}

.service-list::before
{
    position: absolute;
    top: -42px;
    left: 230px;

    width: 10px;
    height: 279px;

    content: '';

    background-color: transparent;
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
}

.service-list button
{
    font: inherit;
    font-size: 21px;
    font-weight: 700;

    width: 240px;
    padding: 16px 22px 20px;

    cursor: pointer;
    text-align: left;

    color: #fff;
    border: none;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    background-color: #32425c;
}

.service-list button:hover,
.service-list button:focus
{
    background-color: #293449;
}

.service-list .service-button-active
{
    color: #32425c;
    border-color: transparent;
    background-color: #fff;
}

.service-list .service-button-active:hover,
.service-list .service-button-active:focus
{
    color: #fff;
    background-color: #293449;
}


.service p,
.about-us p
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;

    margin: 0;
}

.service-slider
{
    width: 630px;
    padding-top: 1px;
}
.service-slider h2
{
    font-size: 36px;
    font-weight: 700;

    margin-bottom: 28px;

    color: #32425c;
}

.delivery p
{
    width: 277px;
}

.delivery p:last-of-type
{
    width: 170px;
}

.guarant p
{
    width: 380px;
}

.credit p
{
    width: 280px;
    margin-bottom: 30px;
}
.delivery,
.guarant,
.credit
{
    min-height: 284px;

    background-repeat: no-repeat;
    background-position: right bottom;
}

.delivery
{
    background-image: url('../img/delivery.png');
    background-size: 468px 261px;
}

.guarant
{
    background-image: url('../img/guarantee.png');
    background-size: 389px 283px;
}
.credit
{
    background-image: url('../img/credit.png');
    background-size: 465px 285px;
}

.credit a
{
    width: 195px;
}

.delivery,
.credit,
.guarant
{
    display: none;
}

.service-slider-active
{
    display: block;
}

.about-us h2
{
    margin: 0;
    margin-bottom: 26px;
}

.about-us p
{
    margin: 0;
    margin-bottom: 24px;
}

.about-us-text
{
    display: flex;
    flex-direction: column;

    width: 530px;
}

.about-us-text p:last-of-type
{
    width: 390px;
    margin-bottom: 0;
}

.about-us-contact
{
    display: flex;
    flex-direction: column;

    width: 300px;
}

.about-us-contact p
{
    width: 182px;
    margin-bottom: 31px;
}

.about-us-contact a.link-red
{
    width: 294px;
    margin-top: auto;
    padding-left: 6px;
}

.delivery-list
{
    font-size: 18px;
    line-height: 20px;

    margin-top: 21px;
    margin-bottom: 16px;
    padding: 0;

    list-style: none;
}

.delivery-item
{
    position: relative;

    margin-bottom: 20px;
    padding-left: 36px;
}

.delivery-item::before
{
    position: absolute;
    top: 9px;
    left: 0;

    width: 25px;
    height: 2px;

    content: '';

    background-color: #ee3643;
}

.about-us-text a
{
    width: 220px;
    margin-top: auto;
}

.credit a
{
    background-color: #ff5357;
}

.main-footer
{
    font-size: 18px;
    line-height: 24px;

    color: #f1f5f7;
    background-color: #32425c;
}

.footer-menu
{
    display: flex;

    max-width: 550px;
    margin: 0;
    padding: 0;
    padding-top: 38px;

    list-style: none;

    flex-wrap: wrap;
    justify-content: flex-end;
}


.footer-offer
{
    display: flex;

    max-width: 527px;
    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer-menu-item,
.footer-offer-item
{
    margin-left: 59px;
}

.footer-menu-item:first-child,
.footer-offer-item:first-child
{
    margin-left: 0;
}

.footer-offer a,
.footer-mail a,
.footer-copyright a
{
    color: #ffd180;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-offer a:hover,
.footer-offer a:focus,
.footer-mail a:hover,
.footer-mail a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus
{
    text-decoration: underline;
}

.footer-menu a:active,
.footer-offer a:active
{
    opacity: 50%;
}

.footer-mail a:active,
.footer-copyright a:active
{
    color: #ee3643;
}

.footer-bottom
{
    font-size: 16px;
    line-height: 18px;

    color: #fff;
    background-color: #293449;
}

.footer-text
{
    width: 232px;
    margin: 0;
    margin-right: 162px;
    margin-left: 1px;
}

.footer-social
{
    display: flex;

    margin: 0;
    margin-right: 115px;
    padding: 0;

    list-style: none;
}

.footer-social a
{
    display: block;

    width: 43px;
    height: 43px;
    margin-top: -3px;
    margin-right: 2px;

    border-radius: 50%;
    background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active
{
    background-color: #ee3643;
}

.social-vk
{
    background-image: url('../img/icon-vk.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.social-fb
{
    background-image: url('../img/icon-fb.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.social-insta
{
    background-image: url('../img/icon-insta.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.footer-mail
{
    width: 140px;
    margin-right: 52px;
}

.footer-contact p,
.footer-mail p,
.footer-copyright p
{
    margin: 0;
}

.modal
{
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;

    display: none;

    background-color: #fff;
}

.modal-show
{
    display: block;

    -webkit-animation: linear come_up .6s;
            animation: linear come_up .6s;
}

@keyframes come_up
{
    0%
    {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

.modal-show-close
{
    display: block;

    -webkit-animation: linear come_down 1s forwards;
            animation: linear come_down 1s forwards;
}

@keyframes come_down
{
    0%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }

    100%
    {
        -webkit-transform: translateY(1000px);
                transform: translateY(1000px);
    }
}

.modal-close
{
    position: absolute;
    z-index: 5;
    top: 9px;
    right: 11px;

    width: 21px;
    height: 21px;

    border: 0;
    background-color: transparent;
}

.modal-close::before,
.modal-close::after
{
    position: absolute;
    top: 9px;
    left: 0;

    width: 26px;
    height: 4px;

    content: '';

    background-color: #ee3643;
}

.modal-close::before
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-close::after
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal-feedback,
.modal-buy
{
    width: 620px;
    margin-left: -310px;

    border-top: 7px solid #ff5357;
    box-shadow: 0 12px 39px -6px;
}

.modal-feedback
{
    margin-top: -215px;
}

.modal-map
{
    margin-top: -224px;
    margin-left: -470px;

    box-shadow: 0 0 15px -2px;
}

.modal-map p
{
    line-height: 0;

    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    margin: 0;
}
.modal-map iframe
{
    position: relative;
    z-index: 4;

    border: none;
}

.modal-buy
{
    margin-top: -142px;

    border-top: 7px solid #ee3643;
    background: url('../img/icon-mark.svg') no-repeat 81px 49px;
    background-color: #fff;
}

.modal-buy-show
{
    display: block;

    -webkit-animation: increase_up .6s  ease-out;
            animation: increase_up .6s  ease-out;
}

@keyframes increase_up
{
    0%
    {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.modal-buy-show-close
{
    display: block;

    -webkit-animation: increase_down .4s forwards;
            animation: increase_down .4s forwards;
}

@keyframes increase_down
{
    0%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    100%
    {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
}


.form-feedback-wrapper
{
    font-size: 18px;
    line-height: 18px;

    display: flex;

    width: 460px;
    margin-top: 47px;
    margin-right: 81px;
    margin-bottom: 12px;
    margin-left: 81px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback-item
{
    width: 220px;
    margin: 0;
}

.feedback-item label
{
    display: block;

    margin-bottom: 9px;
}

.form-feedback input[type='text'],
.form-feedback input[type='email'],
.form-feedback textarea
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;

    width: 189px;
    margin-bottom: 21px;
    padding: 8px 13px;

    color: #000;
    border: 2px solid #dee3e4;
    border-radius: 3px;
}

.feedback-input-error
{
    animation: stretching .8s 3;
}

@keyframes stretching
{
    0%,
    100%
    {
        border-color: #ee3643;
    }
    50%
    {
        -webkit-transform: translate(-1px, -1px) scale(1.1);
                transform: translate(-1px, -1px) scale(1.1);

        border-color: #ee3643;
    }
}

.feedback-item-text textarea
{
    width: 430px;
    padding-bottom: 12px;

    resize: none;
}

.button-wrapper
{
    display: flex;

    padding: 37px 80px;

    background-color: #f4f4f4;
}

.form-feedback button[type='submit']
{
    font-family: 'Cuprum', Arial, sans-serif;

    width: 460px;

    cursor: pointer;

    color: #fff;
    border: none;
}

.modal-buy h3
{
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;

    margin: 65px 0 68px 181px;
}

.modal-buy a
{
    display: block;

    width: 220px;
    margin-right: 20px;
    padding-top: 11px;
    padding-bottom: 9px;

    text-transform: uppercase;

    border-radius: 3px;
    background-color: #ee3643;
}

.modal .continue-buy a
{
    font-size: 14px;

    color: #000;
    background-color: #fff;
}

.breadcrumbs
{
    display: flex;

    margin: 21px 0;
    margin-left: -2px;
    padding: 0;

    list-style: none;

    justify-content: flex-start;
    flex-wrap: wrap;
}

.breadcrumbs li
{
    position: relative;

    margin-right: 41px;
}

.breadcrumbs li::after
{
    position: absolute;
    top: 2px;
    right: -25px;

    width: 8px;
    height: 14px;

    content: '';

    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
}

.breadcrumbs li:last-child
{
    margin-right: 0;
}

.breadcrumbs li:last-child::after
{
    display: none;
}

.filters h2,
.sorting h2
{
    font-size: 13px;
    line-height: 18px;

    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;

    background-color: #f7f3ec;
}

.sorting h2
{
    margin-right: 140px;
}

.filters h2
{
    margin-bottom: 17px;
}

.filter fieldset
{
    margin: 0;
    margin-bottom: 22px;
    padding: 0;

    border: none;
}

.filter legend
{
    font-size: 17px;
    font-weight: 700;

    padding: 0;
}

.fieldset-price legend
{
    margin-top: 19px;
    margin-bottom: 19px;
}

.fieldset-manufacturer legend,
.fieldset-power legend
{
    margin-bottom: 21px;
}

.filter .fieldset-price
{
    padding-bottom: 27px;

    border-bottom: 1px solid #e5e5e5;
}

.filter .fieldset-manufacturer
{
    margin-bottom: 23px;
    padding-bottom: 24px;

    border-bottom: 1px solid #e5e5e5;
}

.filter-slider
{
    position: relative;

    width: 220px;
    height: 80px;
    margin-bottom: 10px;

    background-color: #f7f3ec;
}

.filter-line
{
    position: absolute;
    top: 40px;
    left: 20px;

    width: 180px;
    height: 2px;

    background-color: #d7dcde;
}

.filter-line-green
{
    position: absolute;
    top: 0;
    left: 20px;

    width: 120px;

    background-color: #00ca74;
}

.filter-slider-left,
.filter-slider-right
{
    position: absolute;
    z-index: 1;
    top: 30px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px #e0ddd8;
}

.filter-slider-left
{
    left: 20px;
}

.filter-slider-right
{
    left: 160px;
}

.range
{
    position: relative;
}

.range-max
{
    margin-left: 26px;
}

.range input
{
    font: inherit;
    font-size: 17px;

    max-width: 95px;
    padding: 9px 0;

    text-align: center;

    border: none;
    border-radius: 3px;
    background-color: #f7f3ec;
}

.range::before
{
    position: absolute;
    top: 19px;
    left: 105px;

    width: 9px;
    height: 1px;

    content: '';

    background-color: #000;
}

.filter ul
{
    font-size: 15px;
    line-height: 17px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-option
{
    margin-bottom: 23px;
    padding-left: 34px;
}

.filter-option:last-child
{
    margin-bottom: 0;
}

.filter-option label
{
    position: relative;

    display: block;

    cursor: pointer;
}

.filter-input-checkbox + label::before,
.filter-input-checkbox:checked + label::after
{
    position: absolute;
    top: -3px;
    left: -34px;

    width: 26px;
    height: 23px;

    content: '';

    opacity: .7;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-checkbox + label::before
{
    background-image: url('../img/checkbox-off.svg');
}

.filter-input-checkbox:checked + label::after
{
    background-image: url('../img/checkbox-on.svg');
}



.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after,
.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after
{
    opacity: 1;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after,
.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::after
{
    opacity: .3;
}
.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label
{
    cursor: no-drop;

    opacity: .4;
}


.filter-input-radio + label::before,
.filter-input-radio:checked + label::after
{
    position: absolute;
    top: -4px;
    left: -35px;

    width: 25px;
    height: 25px;

    content: '';

    opacity: .7;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before
{
    background-image: url('../img/radio-off.svg');
}
.filter-input-radio:checked + label::after
{
    background-image: url('../img/radio-on.svg');
}

.filter-button
{
    font: inherit;

    width: 140px;
    margin-top: 58px;
    padding: 10px 38px 8px 38px;

    cursor: pointer;
    text-transform: uppercase;

    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
}

.filter-button:hover,
.filter-button:focus
{
    border-color: #bdc6ca;
}

.filter-button:active
{
    border: 1px solid #ee3643;
}

.product-wapper
{
    width: 700px;
}

.sorting
{
    display: flex;

    margin-bottom: 20px;

    background-color: #f7f3ec;

    align-items: center;
}

.option-list
{
    display: flex;

    width: 355px;
    margin: 0;
    margin-right: 49px;
    padding: 0;

    justify-content: space-between;
}

.option-list a
{
    padding-top: 10px;

    opacity: 30%;
    border-bottom: 1px dotted #ee3643;
}

.option-list a:hover,
.option-list a:focus
{
    opacity: 1;
    color: #000;
    border-bottom: 1px solid #ee3643;
}

.option-list .sorting-item-active
{
    opacity: 1;
    color: #ee3643;
    border: none;
}

.value-list
{
    position: relative;

    display: flex;
}

.size-up::before,
.size-down::before
{
    position: absolute;

    width: 0;
    height: 0;

    content: '';
    transform: scaleY(1.6);

    opacity: .3;
    border: 6px solid transparent;
    border-bottom: 6px solid #000;
}

.size-up::before
{
    right: 32px;
    bottom: -1px;
}

.size-down::before
{
    top: -1px;
    right: 0;

    -webkit-transform: scaleY(1.6) rotate(180deg);
            transform: scaleY(1.6) rotate(180deg);
}

a.sorting-item-active::before
{
    opacity: 1;
    border-bottom-color: #ee3643;
}

.size-up:hover::before,
.size-up:focus::before,
.size-down:hover::before,
.size-down:focus::before
{
    opacity: 1;
    border-bottom: 6px solid #000;
}

.pagination-list
{
    display: flex;

    margin: 0;
    margin-top: 31px;
    padding: 0;
}

.pagination-item
{
    margin-right: 9px;

    cursor: pointer;
}

.pagination-item:last-child
{
    margin-right: 0;
}

.pagination-item a
{
    display: block;

    padding: 10px 15px;

    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
}

.pagination-item:last-child a
{
    padding-right: 30px;
    padding-left: 31px;
}

.pagination-item a:hover,
.pagination-item a:focus
{
    border: 1px solid #bdc6ca;
}

.pagination-item a:active
{
    border: 1px solid #ee3643;
}

.pagination-item-active a
{
    color: #fff;
    border: 1px solid #ee3643;
    background-color: #ee3643;
}

.perforator-description
{
    padding-top: 65px;
    padding-bottom: 68px;

    background-color: #f2f6f8;
}

.perforator-description h2
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;

    margin: 0;
    margin-bottom: 26px;
}

.perforator-description p
{
    line-height: 24px;

    margin: 0;

    text-transform: none;
}

.modal-buy ul
{
    margin: 0;

    list-style: none;

    background-color: #f1f1f1;
}

.main-wrapper
{
    margin-bottom: 66px;
}

.inner-page .main-wrapper
{
    margin-bottom: 59px;
}

.offer
{
    display: flex;

    margin-bottom: 33px;
}

.offer-wrapper
{
    margin-right: 20px;
}

.offer-list-slider
{
    display: flex;

    width: 620px;
    padding-left: 0;

    list-style: none;

    flex-wrap: wrap;
    justify-content: space-between;
}

.offer-list
{
    display: flex;

    padding-left: 0;

    list-style: none;

    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}


.manufacturer-list
{
    display: flex;

    margin: 0;
    padding: 0;

    flex-wrap: wrap;
    justify-content: space-between;
}

.manufacturer-item
{
    margin-bottom: 20px;
}

.manufacturer-item a
{
    display: flex;

    width: 218px;
    height: 143px;

    border: 1px solid #eaeaea;

    justify-content: center;
    align-items: center;
}

.manufacturer-item a:hover,
.manufacturer-item a:focus
{
    border-color: transparent;
    box-shadow: 0 10px 30px -10px #000;
}

.manufacturer-item a:active
{
    opacity: .3;
    box-shadow: 0 3px 10px 0 #000;
}

.service-slider-wrapper
{
    display: flex;

    justify-content: flex-start;
}

.about-us-wrapper
{
    display: flex;

    margin-bottom: 86px;

    justify-content: space-between;
}

.main-footer .container
{
    padding-bottom: 49px;
}

.main-footer-wrapper,
.footer-contact-wrapper
{
    display: flex;

    justify-content: space-between;
}

.footer-contact-wrapper
{
    margin-top: 32px;
}

.footer-contact
{
    padding-left: 3px;
}

.footer-contact p
{
    display: flex;

    max-width: 326px;
}

.footer-bottom-wrapper
{
    display: flex;

    padding-top: 37px;
    padding-bottom: 31px;
}

.footer-copyright
{
    padding-right: 14px;
}

.main-top
{
    display: flex;
    flex-direction: column-reverse;

    margin-bottom: 20px;
}

.filters
{
    width: 220px;
}

.catalog-wrapper
{
    display: flex;

    justify-content: space-between;
}
